body{
 margin:0;
 font-family:Arial;
 background:#fff8e1;
}

header{
 background:linear-gradient(to right,#a1c4fd,#c2e9fb);
 padding:15px;
 text-align:center;
}

.lang-bar button{
 margin:5px;
 padding:6px 12px;
 border:none;
 border-radius:15px;
 background:#ff9800;
 color:white;
 cursor:pointer;
}

header input{
 width:80%;
 padding:10px;
 border:none;
 border-radius:20px;
}

.story-card{
 background:#e3f2fd;
 margin:15px auto;
 padding:20px;
 width:85%;
 border-radius:12px;
 cursor:pointer;
}

#readerPage{
 display:none;
 height:100vh;
 justify-content:center;
 align-items:center;
 background:#ffe0b2;
}

.reader{
 background:white;
 width:90%;
 max-width:500px;
 height:85vh;
 padding:20px;
 border-radius:20px;
 display:flex;
 flex-direction:column;
}

.story{
 flex:1;
 overflow:auto;
}
